body{
    font-family: monospace, sans-serif;
}

#product-info{
    background-color: lightgray;
    width: 500px;
    height: fit-content;
    border: 10px black;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}